
<section class="mx-10">
    <h1 class="text-3xl">{{country().name}}</h1>
</section>
<section class="mx-10">
    <div class="stats stats-vertical lg:stats-horizontal shadow">
        <div class="stat">
            <div class="stat-title">Pobación</div>
            <div class="stat-value">{{country().population | number}}</div>
            <!-- <div class="stat-desc">Desde</div> -->
        </div>

        <div class="stat">
            <div class="stat-title">Nombre</div>
            <div class="stat-value">{{country().name}}</div>
            <div class="stat-desc">{{country().region}}</div>
        </div>

        <div class="stat">
            <div class="stat-title">Lat - Lng</div>
            <div class="stat-value">{{country().latLong}}</div>
            <div class="stat-desc">Área: {{country().area}}</div>
        </div>
        <div class="stat">
            <div class="stat-title">Bandera</div>
            <div class="stat-value">{{country().flag}}</div>
            <div class="stat-desc">{{country().continent}}</div>
        </div>
    </div>
</section>
<figure class="diff aspect-16/9" tabindex="0">
  <div class="diff-item-1" role="img" tabindex="0">
    <img [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <div class="diff-item-2" role="img">
    <img
    class="blur brightness-75"
      [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <div class="diff-resizer"></div>
</figure>